* {
    font-family: Roboto, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100vh;
}

img {
    width: 150px;
    height: 200px;
    border-radius: 10px;
}

.other { 
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
}

.karp {
    height: 204px;
}

.logo {
    width: 48px;
    height: auto;
    padding: 12px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 16px;
    font-size: 18px;
    align-items: center;
    padding: 12px;
}

.links > a {
    color: #E5E7EB;
}

.hero {
    font-size: 36px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-second {
    font-size: 18px;
    color: #E5E7EB;
}

.top-block {
    background-color: #1F2937;
    padding: 0px 150px 75px 150px;
}

.content-block {
    display: flex;
    justify-content: center;
}

.left-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 450px;
    flex-shrink: 0;
}

.right-content {
    display: flex;
    gap: 20px;
}

button { 
    width: 85px;
    height: 35px;
    background-color: #3882F6;
    border-style: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.info-block {
    display:  flex;
    justify-content: center;
    padding: 75px 0;
    gap: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 175px;
}

.info > div {
    text-align: center;
}

.quote-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 75px 0;
}

.ash-quote {
    font-style: italic;
    font-size: 36px; 
    color: #1f2937;
}

.ash {
    text-align: end;
}

.bottom-block {
    display: flex;
    justify-content: center;
    padding: 75px;
}

.fact-block {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    padding: 50px;
    width: 700px;
    border-radius: 10px;
}

.fact {
    width: 400px;
    flex-shrink: 0;
}

.fact-main {
    font-size: 36px;
    font-weight: bold;
    color: white;
}

.fact-second {
    color: white;
    font-size: 18px;
}

.fact-block > button {
    border: 2px solid white;
    align-self: center;
}

.footer {
    color: #f9faf8;
    text-align: center;
    background-color: #1f2937;
    padding: 25px;
}