* {
    font-family: Roboto, 'Times New Roman', Times, serif;
}
body {
    padding: 0;
    margin: 0;
}

img {
    width: 150px;
    height: auto;
}

.logo {
    width: 48px;
    height: auto;
    padding: 12px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}

.links {
    display: flex;
    gap: 16px;
    font-size: 18px;
    align-items: center;
    padding: 12px;
}

.links > a {
    color: #E5E7EB;
}